.paragraph{
    height: 100px;
    width: 100px;
    background-color: red;
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
}

#blue2{  
    height: 100px;
    width: 100px;
    background-color: blue;
    opacity: 80%;
}

#blue3{
    height: 100px;
    width: 100px;
    background-color: blue;
    opacity: 50%;
}



